[user]
	name = Jesús Jiménez Ballano
	email = jjballano@gmail.com
[alias]
	ch = checkout
	st = status
	uc = reset --soft HEAD~1
	ua = reset
	rn = branch -m
  l = log --graph --abbrev-commit --oneline
	cp = cherry-pick
[core]
	editor = vi
	excludesfile = /Users/jjballano/.gitignore
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
